
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&family=Ubuntu:wght@500&display=swap');
.introduction{
    display:flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h3{
    font-size: 1.9em;
}

#title{
    color: #fff;
    font-size: 4em;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

#subtitle.show{
    transform: translateX(20%);
}
#subtitle{
    transition-delay: 200ms;
    color: rgb(202, 202, 202);
    font-family: 'Roboto Mono', monospace;
    font-size: 1.7em;
    margin: 0;
}

#competences{
    padding-top: 3vh;
    text-align: center;
    background-color: rgb(42, 42, 43);

}
ul{
    list-style:none;
    display: flex;
    text-align: center;
    justify-content: center;
}
li{
    padding:30px;
}
.web:nth-child(2), .script:nth-child(2)
{
    transition-delay: 200ms;
}
.web:nth-child(3), .script:nth-child(3)
{
    transition-delay: 300ms;
}
.web:nth-child(4), .script:nth-child(4)
{
    transition-delay: 400ms;
}
.web:nth-child(5), .script:nth-child(5)
{
    transition-delay: 500ms;
}
#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
h2{
    font-size: 2em;
    margin: 15vh;
    color: #fff;
}
.projectList{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    text-align: center;
    flex-direction: column;
}
.project{
    margin-top: 15vh;
    margin-bottom: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.projectLink{
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.projectLogo{
    width: 100%;
    border-radius: 20px;
    height: auto;
}

#apokae{
    margin: 0;
    width: 40%;
}
.description{
    background-color: rgb(42, 42, 43);
    border-radius: 13px;
    padding:3vw;
    width: 25%;
    margin-inline: 2vw;
    height: 75%;

}
aside>ul{
    padding: 0;
}
aside.description>ul>li.script{
    margin: 0;
    padding-inline: 1vw;
    padding-top: 0;
}
.sujet{
    width: 90%;
    margin: auto;
    text-align: center;
}
.projectLinkmedia{
    display: none;
    width: 40%;
    text-align: center;
    justify-content: center;
    margin: auto;
}
#aboutMe{
    text-align: center;
}
.aboutmediv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#personalDescription{
    background-color: rgb(42, 42, 43);
    border-radius: 8px;
    margin:0 20px;
    width: 40%;
    padding: 4vh;
    height: fit-content;
}
.icon{
    width: 100px;
    margin: 20px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 0;
    margin: 0;
    justify-content: space-between;

}
a{
    text-decoration: none;
    color: #fff;
}
#more{
    display: flex;
}
#aboutMe{
    min-height: 85vh;
}
